/* Estilos generales */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  /*background-color: #e7e7e7; /* Fondo gris claro */
  background-color: #dee2e6;
  text-align: center;
}

/* Estilos del menú superior */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(3, 37, 65); /* Color rojo de Marvel */
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
}

.navbar h1 {
  color: #e9e4e4; /* Rojo de Marvel */
}

.navbar-left h1 {
  margin: 0;
  font-size: 26px; /* Tamaño de fuente mayor */
}

.navbar-left h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #e9e4e4; /* Color dorado */
}

.navbar-right {
  list-style: none;
  margin: 0;
  padding: 0 20px 0 0;
  display: flex;
  align-items: center;
}

.navbar-right li {
  margin: 0 15px;
}

.navbar-right li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-right li a:hover {
  color: #ffd700; /* Color dorado al pasar el mouse */
}

/* Dropdown menu (submenú) */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #838181;
  min-width: 100px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.dropdown-content a:hover {
  background-color: #f2f2f2; /* Color de fondo al pasar el mouse */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #ffd700; /* Color dorado al pasar el mouse */
}

/* Añadir los estilos que consideréis necesarios */

/* ESTILO PARA LOS CAMPOS REQUERIDOS EN EL FORMULARIO */

.req {
  /*para marcar los campos requieridos del formulario de registro con un * rojo*/
  color: red;
}

/* ESTILOS PARA LAS TARJETAS DE PELÍCULAS DE LA PÁGINA ÍNDICE */

#filmsContainer {
  display: flex; /* para usar flexblox, para que el diseño sea responsivo */
  flex-wrap: wrap; /* los elementos son colocados en varias líneas */
  justify-content: center; /* centrar los elementos */
  gap: 2em; /* especiado entre elementos */
  padding: 2em; /* especiado en el borde el contenedor y el contenido del interior */
}

/* ESTILOS PARA EL FLEXBOX DE LA PÁGINA LISTAS */

#filmListContainerListas {
  display: flex; /* para usar flexblox, para que el diseño sea responsivo */
  flex-wrap: wrap; /* los elementos son colocados en varias líneas */
  justify-content: center; /* centrar los elementos */
  gap: 2em; /* especiado entre elementos */
  padding: 2em; /* especiado en el borde el contenedor y el contenido del interior */
}

/* ESTILOS PARA LAS TARJETAS DE PELÍCULAS EN GENERAL */

.movie-card {
  position: relative; /* para poder posicionar el botón de listas y que tome en referencia la posición del div contenedor principal */
  text-align: center; /* alineamos cualquier texto que esté dentro del div */
  background-color: #fff; /* le ponemos fondo blanco */
  border-radius: 0.5em; /* redondeamos los bordes */
  overflow: hidden; /* recorta cualquier elemento que sobresalga de dentro para que siga la forma del div */
  width: 200px;
}

.movie-card div {
  display: flex; /* para usar flexblox, para que el diseño sea responsivo */
  flex-direction: column; /* para ubicar un elemento encima del otro */
  justify-content: center; /* centrar los elementos */
  align-items: center; /* centramos verticalmente */
}

.movie-card h4 {
  padding: 0 0.5em;
  margin-bottom: 0;
}

.movie-card p {
  font-size: x-small;
}

.movie-card img {
  height: 300px;
  align-items: center;
}

/*Estilos para el botón de las listas */

.movie-list-button {
  position: absolute;
  top: 0.6em;
  right: 0.6em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 2px solid #e7e7e7;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
  font-weight: bold;
  z-index: 20; /*para ubicarlo por encima del menú de listas */
}

.movie-list-button-hidden {
  visibility: hidden;
}

.movie-list-button:hover {
  right: 0.4em;
  top: 0.4em;
  border: 2px solid #e7e7e7;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1em;
}

h4 a.movie-title-link {
  color: inherit; /* para que herede el color del contenedor */
  text-decoration: none; /* para quitar el subrayado */
}

/* ESTILOS PARA LA LISTA DE GÉNEROS DE LA PARTE SUPERIOR DE LA PÁGINA ÍNDICE */

#buscador {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  background-color: #fff;
  margin: 1em; /* espacio entre el borde y el contenido del exterior */
  padding: 0.5em 0;
  border-radius: 0.5em;
  font-size: small;
  flex-wrap: wrap; /* para poder seguir viendo los elementos aunque se achique la ventana */
}

#genreList {
  list-style: none;
  display: flex;
  gap: 0.5em;
  padding: 0; /* quita el espacio del lado izq */
  justify-content: center;
  flex-wrap: wrap; /* para poder seguir viendo los elementos aunque se achique la ventana */
}

.list-item {
  border: 1px solid #afafaf;
  background-color: #fff;
  display: flex;
  align-items: center; /* centramos verticalmente */
  justify-content: center; /* centramos horizontalmente */
  border-radius: 0.8em;
  padding: 0.3em 0.5em;
}

.list-item:hover {
  /* cambiamos el fondo y el color del texto cuando pasamos el cursor sobre el list item */
  background-color: rgba(3, 37, 65, 0.41);
  color: #fff;
}

.list-item.active {
  /* cambiamos el fondo y el color del texto cuando pasamos el cursor sobre el list item */
  background-color: rgb(3, 37, 65);
  color: #fff;
}

#searchButton {
  padding: 0.5em;
  margin: 0.7em 0.2em;
}

/* ESTILOS PARA LOS BOTONES E INFORMACIÓN LA PAGINACIÓN */

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#pagina-info {
  display: inline-block;
}

/* ESTILOS PARA EL MENÚ DE LISTAS */

/* página detalle */

#detalle-list-container {
  width: 30%;
  padding: 0;
}

/* página indice */
.indice-list {
  position: absolute;
  inset: 0; /* para centrarlo */
  margin: 0; /* eliminar el margen superior */
  height: 300px;
  z-index: 10; /* para ubicarlo debajo del botón + */
}

.indice-list-hidden {
  visibility: hidden;
}

/* estilos generales para ambas páginas */

.list-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.list-menu li {
  flex: 1; /* hace que llene el espacio disponible en el flexbox */
}

.list-menu button {
  width: 100%; /* para que ocupe el ancho del 100% del contenedor */
  height: 100%; /* para que ocupe el alto del 100% del contenedor, el li */
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
}

.list-menu button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.1em;
}

.list-menu button:active {
  font-size: 1em;
}

.active-list {
  /*para marcar si una película está en determinada lista*/
  color: rgb(7, 117, 207);
}

/* ESTILOS DE DETALLES.HTML */

.detail-container {
  display: flex; /* para usar flexblox, para que el diseño sea responsivo */
  flex-wrap: wrap; /* los elementos son colocados en varias líneas */
  flex-direction: row;
  justify-content: center; /* centrar los elementos */
  gap: 2em; /* especiado entre elementos */
  padding: 2em; /* especiado en el borde el contenedor y el contenido del interior */
  background-color: rgba(3, 37, 65, 0.1);
}

.details {
  flex: 1;
  min-height: 454px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
}

.poster img {
  height: 100%;
  width: 100%;
}

.poster {
  border-radius: 0.5em;
  overflow: hidden;
}

#detalle-list-container {
  height: 30%;
  width: 200px;
  border-radius: 0.5em;
  overflow: hidden;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

#score {
  background-color: rgb(7, 117, 207);
  color: #fff;
  padding: 0.5em;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#detalle-list-container ul {
  height: 100%;
  margin: 0;
}

#filmTitle {
  margin: 0;
}

#overview {
  margin: 0;
  justify-content: left;
  font-size: small;
}

#backButton {
  margin-top: 1em;
}

/* ESTILOS DE LOS DIV CONTENEDORES DE LAS FORM */

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2em;
  background-color: rgba(3, 37, 65, 0.1);
  width: 60%;
  margin: 5em auto;
  border-radius: 0.5em;
}

.form-group {
  text-align: left;
  margin: 1em;
  width: 100%;
}

.form input,
.form select {
  width: 100%;
}

.form label {
  width: 20%;
}

/* CONTENEDOR DE VÍDEO */

#VideoContainer {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#VideoContainer video {
  width: 100%;
  height: auto;
  max-width: 100%;
}
